[Unit]
Wants=wordpress-pod.service
After=wordpress-pod.service
PartOf=wordpress-pod.service

[Container]
ContainerName=wordpress-db
Environment=MARIADB_DATABASE=wordpress MARIADB_ROOT_PASSWORD=wordpress
Image=docker.io/library/mariadb:latest
PodmanArgs=--pod wordpress
AutoUpdate=registry

[Install]
WantedBy=default.target
